In [1]:
import pandas as pd
import numpy as np

In [3]:
wt0_df1 = r'C:\Users\rsaxe\Downloads\Care_To_Compare\Care_To_Compare\Wind Farm A\Wind Farm A\datasets\0.csv'
wt0_df2 = r'C:\Users\rsaxe\Downloads\Care_To_Compare\Care_To_Compare\Wind Farm A\Wind Farm A\datasets\24.csv'
wt0_df3 = r'C:\Users\rsaxe\Downloads\Care_To_Compare\Care_To_Compare\Wind Farm A\Wind Farm A\datasets\26.csv'
wt0_df4 = r'C:\Users\rsaxe\Downloads\Care_To_Compare\Care_To_Compare\Wind Farm A\Wind Farm A\datasets\71.csv'
wt0_df5 = r'C:\Users\rsaxe\Downloads\Care_To_Compare\Care_To_Compare\Wind Farm A\Wind Farm A\datasets\73.csv'

In [4]:
df1= pd.read_csv(wt0_df1, sep = ';')
df2= pd.read_csv(wt0_df2, sep = ';')
df3= pd.read_csv(wt0_df3, sep = ';')
df4= pd.read_csv(wt0_df4, sep = ';')
df5= pd.read_csv(wt0_df5, sep = ';')

In [11]:
print(df1['time_stamp'].iloc[0])
print(df1['time_stamp'].iloc[-1])

2022-08-03 06:10:00
2023-08-23 06:10:00

In [12]:
print(df2['time_stamp'].iloc[0])
print(df2['time_stamp'].iloc[-1])

2022-04-23 15:00:00
2023-05-12 11:20:00

In [13]:
print(df3['time_stamp'].iloc[0])
print(df3['time_stamp'].iloc[-1])

2022-10-12 10:20:00
2023-10-22 10:20:00

In [14]:
print(df4['time_stamp'].iloc[0])
print(df4['time_stamp'].iloc[-1])

2022-12-31 00:00:00
2024-01-17 00:00:00

In [15]:
print(df5['time_stamp'].iloc[0])
print(df5['time_stamp'].iloc[-1])

2022-06-06 11:40:00
2023-06-18 11:40:00

In [18]:
d = [{'d_id':'df1', 's_time':'2022-08-03 06:10:00', 'end_time' : '2023-08-23 06:10:00' },
{'d_id':'df2', 's_time':'2022-04-23 15:00:00', 'end_time' : '2023-05-12 11:20:00' },
{'d_id':'df3', 's_time':'2022-10-12 10:20:00', 'end_time' : '2023-10-22 10:20:00' },
{'d_id':'df4', 's_time':'2022-12-31 00:00:00', 'end_time' : '2024-01-17 00:00:00' },
{'d_id':'df5', 's_time':'2022-06-06 11:40:00', 'end_time' : '2023-06-18 11:40:00' }]

In [19]:
# Convert to DataFrame
df = pd.DataFrame(d)

# Convert 's_time' and 'end_time' to datetime format
df['s_time'] = pd.to_datetime(df['s_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Display DataFrame
print(df)

  d_id              s_time            end_time
0  df1 2022-08-03 06:10:00 2023-08-23 06:10:00
1  df2 2022-04-23 15:00:00 2023-05-12 11:20:00
2  df3 2022-10-12 10:20:00 2023-10-22 10:20:00
3  df4 2022-12-31 00:00:00 2024-01-17 00:00:00
4  df5 2022-06-06 11:40:00 2023-06-18 11:40:00

In [21]:
df = df.sort_values(by='s_time')

In [22]:
df

  d_id              s_time            end_time
1  df2 2022-04-23 15:00:00 2023-05-12 11:20:00
4  df5 2022-06-06 11:40:00 2023-06-18 11:40:00
0  df1 2022-08-03 06:10:00 2023-08-23 06:10:00
2  df3 2022-10-12 10:20:00 2023-10-22 10:20:00
3  df4 2022-12-31 00:00:00 2024-01-17 00:00:00