In [18]:
import sys
sys.path.append('../..')
from src import WindSpeedUnit, ForecastAPI, ForecastCurrent, HistoricalAPI, HistoricalDaily, HistoricalHourly
import src
import pandas as pd
import datetime as dt

f = HistoricalAPI()
f.latitude, f.longitude = src.GEO_COORDINATES.DUNDALK_IT.value
f.wind_speed_unit = WindSpeedUnit.METERS_PER_SECOND
# f.daily = [HistoricalDaily.TEMPERATURE_2M_MEAN, HistoricalDaily.WIND_SPEED_10M_MAX]
# f.daily = list(HistoricalDaily._member_map_.values())
# f.hourly = [HistoricalHourly.TEMPERATURE_2M, HistoricalHourly.WIND_SPEED_10M]
# f.hourly = list(HistoricalHourly._member_map_.values())
f.hourly = [HistoricalHourly.TEMPERATURE_2M, HistoricalHourly.WIND_SPEED_100M, HistoricalHourly.WIND_DIRECTION_100M]
f.start_date = dt.datetime(2020, 1, 1,1)
f.end_date = dt.datetime(2020, 1, 2,23)
f.cell_selection = src.enums.CellSelection.NEAREST

response = f.request()
print(f.build_url())
print(response)

https://archive-api.open-meteo.com/v1/archive?cell_selection=nearest&end_date=2020-01-02&hourly=temperature_2m,wind_speed_100m,wind_direction_100m&latitude=53.98352&longitude=-6.39139&start_date=2020-01-01&wind_speed_unit=ms
[{'latitude': 53.98352, 'longitude': -6.39139, 'generationtime_ms': -10.0, 'utc_offset_seconds': -10, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': -9999, 'hourly_units': {'time': 'iso8601', 'temperature_2m_mean': 'Â°C', 'wind_speed_10m_max': 'km/h'}, 'hourly': {'time': ['2020-01-01 00:00:00', '2020-01-01 01:00:00', '2020-01-01 02:00:00', '2020-01-01 03:00:00', '2020-01-01 04:00:00', '2020-01-01 05:00:00', '2020-01-01 06:00:00', '2020-01-01 07:00:00', '2020-01-01 08:00:00', '2020-01-01 09:00:00', '2020-01-01 10:00:00', '2020-01-01 11:00:00', '2020-01-01 12:00:00', '2020-01-01 13:00:00', '2020-01-01 14:00:00', '2020-01-01 15:00:00', '2020-01-01 16:00:00', '2020-01-01 17:00:00', '2020-01-01 18:00:00', '2020-01-01 19:00:00', '2020-01-01 20:00:00', '2020-01-01 21:00:00', '2020-01-01 22:00:00', '2020-01-01 23:00:00', '2020-01-02 00:00:00'], 'temperature_2m': [4.7, 4.9, 5.7, 6.1, 6.2, 6.0, 4.8, 3.7, 2.7, 3.7, 4.3, 5.0, 6.3, 6.6, 6.9, 6.7, 5.7, 5.1, 4.8, 4.8, 5.0, 5.4, 6.3, 6.9, 7.6], 'wind_direction_100m': [207.0, 220.0, 210.0, 180.0, 175.0, 180.0, 215.0, 227.0, 209.0, 203.0, 190.0, 204.0, 192.0, 191.0, 190.0, 189.0, 187.0, 183.0, 177.0, 184.0, 182.0, 187.0, 194.0, 193.0, 195.0], 'wind_speed_100m': [14.2, 14.6, 17.1, 17.3, 19.2, 17.3, 18.4, 18.8, 19.0, 20.3, 20.5, 20.1, 19.1, 20.9, 21.5, 23.3, 24.3, 23.8, 24.9, 24.5, 24.5, 25.4, 26.7, 27.0, 28.3]}}]

In [ ]:
(
    pd.DataFrame(response[0]['hourly'])
        .rename(columns={'time': 'Timestamps', 'wind_speed_100m': 'WindSpeed', 'wind_direction_100m': 'WindDirAbs', 'temperature_2m': 'EnvirTemp'})
        .assign(Timestamps = lambda x: x.Timestamps.astype('str'),
                WindSpeed = lambda x: x.WindSpeed.astype('float'),
                WindDirAbs = lambda x: x.WindDirAbs.astype('float'),
                EnvirTemp = lambda x: x.EnvirTemp.astype('float'))
        [['Timestamps', 'WindSpeed', 'WindDirAbs', 'EnvirTemp']]
)

             Timestamps  WindSpeed  WindDirAbs  EnvirTemp
0   2020-01-01 00:00:00       14.2       207.0        4.7
1   2020-01-01 01:00:00       14.6       220.0        4.9
2   2020-01-01 02:00:00       17.1       210.0        5.7
3   2020-01-01 03:00:00       17.3       180.0        6.1
4   2020-01-01 04:00:00       19.2       175.0        6.2
5   2020-01-01 05:00:00       17.3       180.0        6.0
6   2020-01-01 06:00:00       18.4       215.0        4.8
7   2020-01-01 07:00:00       18.8       227.0        3.7
8   2020-01-01 08:00:00       19.0       209.0        2.7
9   2020-01-01 09:00:00       20.3       203.0        3.7
10  2020-01-01 10:00:00       20.5       190.0        4.3
11  2020-01-01 11:00:00       20.1       204.0        5.0
12  2020-01-01 12:00:00       19.1       192.0        6.3
13  2020-01-01 13:00:00       20.9       191.0        6.6
14  2020-01-01 14:00:00       21.5       190.0        6.9
15  2020-01-01 15:00:00       23.3       189.0        6.7
16  2020-01-01 16:00:00       24.3       187.0        5.7
17  2020-01-01 17:00:00       23.8       183.0        5.1
18  2020-01-01 18:00:00       24.9       177.0        4.8
19  2020-01-01 19:00:00       24.5       184.0        4.8
20  2020-01-01 20:00:00       24.5       182.0        5.0
21  2020-01-01 21:00:00       25.4       187.0        5.4
22  2020-01-01 22:00:00       26.7       194.0        6.3
23  2020-01-01 23:00:00       27.0       193.0        6.9
24  2020-01-02 00:00:00       28.3       195.0        7.6

In [ ]:
conn = f._conn
cursor = conn.cursor()

# # Check if indexes are being used
# cursor.execute("EXPLAIN QUERY PLAN " + your_query)
# print(cursor.fetchall())

# # Force SQLite to update its query planner statistics
# cursor.execute("ANALYZE;")
# conn.commit()

# # Check if SQLite is set to auto-vacuum
# cursor.execute("PRAGMA auto_vacuum;")
# print("Auto Vacuum Mode:", cursor.fetchone()[0])

# # If auto_vacuum is off, run VACUUM to optimize storage
# cursor.execute("VACUUM;")
# conn.commit()

# Check which indexes exist on the tables
# cursor.execute("PRAGMA index_list('hourly_historical_weather_data');")
# print("Indexes on hourly_historical_weather_data:", cursor.fetchall())

# cursor.execute("PRAGMA index_list('hourly_historical_weather_staging_table');")
# print("Indexes on hourly_historical_weather_staging_table:", cursor.fetchall())

Indexes on hourly_historical_weather_data: [(0, 'idx_hourly_time_param_lat_lon', 0, 'c', 0)]
Indexes on hourly_historical_weather_staging_table: []

In [3]:
f.request()

reindexing tables

:

In [2]:
import sqlite3
conn = f._conn


# cursor = conn.cursor()
# conn.execute('''
# DELETE FROM hourly_historical_weather_data
# WHERE ID NOT IN (
#     SELECT MIN(ID) 
#     FROM hourly_historical_weather_data 
#     GROUP BY time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value
# );
# ''')
# conn.commit()
df=pd.read_sql_query("SELECT * FROM hourly_historical_weather_data", conn)
# df = pd.read_pickle('historical.pkl')
df

,ID,time,latitude,longitude,utc_offset_seconds,timezone,timezone_abbreviation,elevation,parameter,value
0,1,2020-01-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,albedo,-2.147484e+09
1,2,2020-01-01 01:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,albedo,-2.147484e+09
2,3,2020-01-01 02:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,albedo,-2.147484e+09
3,4,2020-01-01 03:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,albedo,-2.147484e+09
4,5,2020-01-01 04:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,albedo,-2.147484e+09
...,...,...,...,...,...,...,...,...,...,...
1535611,1535948,2024-11-30 19:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,3.350000e+01
1535612,1535949,2024-11-30 20:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,3.230000e+01
1535613,1535950,2024-11-30 21:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,2.950000e+01
1535614,1535951,2024-11-30 22:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,2.720000e+01
1535615,1535952,2024-11-30 23:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,2.490000e+01

In [3]:
df.set_index('ID').loc[lambda self: self.duplicated(keep = False)].sort_values(by = 'time parameter'.split())

Empty DataFrame
Columns: [time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value]
Index: []

In [22]:
# df.drop(columns = 'ID').loc[lambda self: self.duplicated(keep = False)].sort_values(by = 'time parameter'.split())
# print(pd.to_numeric.__doc__)

# THE SAME AS ABOVE BUT IN SQL
pd.read_sql_query("""
SELECT * FROM hourly_historical_weather_data
WHERE (time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value) IN (
    SELECT time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value
    FROM hourly_historical_weather_data
    GROUP BY time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value
    HAVING COUNT(*) > 1
)
ORDER BY time, parameter
""", conn, index_col = 'ID')#.equals(df.set_index('ID').loc[lambda self: self.duplicated(keep = False)].sort_values(by = 'time parameter'.split()))

Empty DataFrame
Columns: [time, latitude, longitude, utc_offset_seconds, timezone, timezone_abbreviation, elevation, parameter, value]
Index: []

In [10]:
hist = HIST
# hist.time.values[-1]
f._conn.close()
hist

,time,latitude,longitude,utc_offset_seconds,timezone,timezone_abbreviation,elevation,parameter,value
0,2000-01-01 00:00:00,53.983520,-6.391390,0,GMT,GMT,15.0,temperature_2m,4.8
1,2000-01-01 01:00:00,53.983520,-6.391390,0,GMT,GMT,15.0,temperature_2m,3.9
2,2000-01-01 02:00:00,53.983520,-6.391390,0,GMT,GMT,15.0,temperature_2m,3.4
3,2000-01-01 03:00:00,53.983520,-6.391390,0,GMT,GMT,15.0,temperature_2m,2.8
4,2000-01-01 04:00:00,53.983520,-6.391390,0,GMT,GMT,15.0,temperature_2m,2.2
...,...,...,...,...,...,...,...,...,...
1551050,2020-01-02T19:00,53.954304,-6.441009,0,GMT,GMT,15.0,wind_gusts_10m,41.8
1551051,2020-01-02T20:00,53.954304,-6.441009,0,GMT,GMT,15.0,wind_gusts_10m,40.0
1551052,2020-01-02T21:00,53.954304,-6.441009,0,GMT,GMT,15.0,wind_gusts_10m,40.0
1551053,2020-01-02T22:00,53.954304,-6.441009,0,GMT,GMT,15.0,wind_gusts_10m,38.2
1551054,2020-01-02T23:00,53.954304,-6.441009,0,GMT,GMT,15.0,wind_gusts_10m,50.8

In [4]:
'https://archive-api.open-meteo.com/v1/archive?cell_selection=nearest&daily=temperature_2m_mean,wind_speed_10m_max&end_date=2020-01-02&hourly=temperature_2m,wind_speed_10m&latitude=50.98352&longitude=6.39139&latitude=53.98352&longitude=-6.39139&start_date=2020-01-01&wind_speed_unit=ms'

'https://archive-api.open-meteo.com/v1/archive?cell_selection=nearest&daily=temperature_2m_mean,wind_speed_10m_max&end_date=2020-01-02&hourly=temperature_2m,wind_speed_10m&latitude=50.98352&longitude=6.39139&latitude=53.98352&longitude=-6.39139&start_date=2020-01-01&wind_speed_unit=ms'

In [5]:
url = 'https://archive-api.open-meteo.com/v1/archive?latitude=52.0&longitude=12.0&latitude=53.98352&longitude=-6.39139&start_date=2025-02-01&end_date=2025-02-19&hourly=temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,et0_fao_evapotranspiration,vapour_pressure_deficit,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm,boundary_layer_height,wet_bulb_temperature_2m,total_column_integrated_water_vapour,is_day,sunshine_duration,albedo,snow_depth_water_equivalent&daily=weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration&wind_speed_unit=ms&timezone=auto'
src.weather.utils.ApiCounter.calculate_call_weight_from_url(url) #3718.842 is the answer. It's wrong though.
# src.GEO_COORDINATES.DUNDALK_IT.value

# pd.read_pickle('historical.pkl').longitude[0]

14.657142857142858

In [9]:
parsedParams

{'start_date': '2000-01-01 00:00:00',
 'end_date': '2024-12-31 00:00:00',
 'hourly': ['temperature_2m',
  'relative_humidity_2m',
  'precipitation',
  'wind_speed_10m',
  'wind_direction_10m',
  'wind_speed_100m',
  'wind_direction_100m'],
 'latitude': [53.98352],
 'longitude': [-6.39139]}

In [4]:
import datetime as dt

url = f.build_url()

parsedParams = src.weather.utils.ApiCounter.parse_url_params(url)
startDate = dt.datetime.strptime(parsedParams['start_date'], '%Y-%m-%d')#.strftime('%Y-%m-%d %H:%M:%S')
endDate = dt.datetime.strptime(parsedParams['end_date'], '%Y-%m-%d')#.strftime('%Y-%m-%d %H:%M:%S')
parsedParams['start_date'] = startDate.strftime('%Y-%m-%d %H:%M:%S')
parsedParams['end_date'] = endDate.strftime('%Y-%m-%d %H:%M:%S')

queryDaily = pd.DataFrame(data = pd.date_range(start=startDate, end=endDate, freq='D'), columns=['time'])
queryDaily = queryDaily.merge(pd.DataFrame(data = parsedParams.get('daily',[]),columns = ['parameter']), how='cross')
queryDaily = queryDaily.merge(
    pd.DataFrame(dict(latitude = parsedParams['latitude'], longitude = parsedParams['longitude'])),
    how='cross')
queryDaily.time = queryDaily.time.dt.strftime('%Y-%m-%d %H:%M:%S')


queryHourly = pd.DataFrame(data = pd.date_range(start=startDate,end=endDate, freq='h'), columns=['time'])
queryHourly = queryHourly.merge(pd.DataFrame(data = parsedParams['hourly'],columns = ['parameter']), how='cross')
queryHourly = queryHourly.merge(
    pd.DataFrame(dict(latitude = parsedParams['latitude'], longitude = parsedParams['longitude'])),
    how='cross')
queryHourly.time = queryHourly.time.dt.strftime('%Y-%m-%d %H:%M:%S')

#ensure dtypes
queryDaily['time'] = queryDaily['time'].astype('str')
queryDaily['parameter'] = queryDaily['parameter'].astype('str')
queryDaily['latitude'] = queryDaily['latitude'].astype('float')
queryDaily['longitude'] = queryDaily['longitude'].astype('float')

queryHourly['time'] = queryHourly['time'].astype('str')
queryHourly['parameter'] = queryHourly['parameter'].astype('str')
queryHourly['latitude'] = queryHourly['latitude'].astype('float')
queryHourly['longitude'] = queryHourly['longitude'].astype('float')

# make stging tables
conn = f._conn
cursor = conn.cursor()

hourlyStageCommand = '''
CREATE TABLE IF NOT EXISTS hourly_historical_weather_staging_table(
    time TEXT,
    parameter TEXT,
    latitude REAL,
    longitude REAL
);
'''
cursor.execute(hourlyStageCommand)
conn.commit()

dailyStageCommand = '''
CREATE TABLE IF NOT EXISTS daily_historical_weather_staging_table(
    time TEXT,
    parameter TEXT,
    latitude REAL,
    longitude REAL
);
'''
cursor.execute( dailyStageCommand)
conn.commit()

#insert data

# conn.execute('DELETE FROM hourly_historical_weather_staging_table')
# conn.execute('DELETE FROM daily_historical_weather_staging_table')
# conn.commit()
# queryDaily.to_sql('daily_historical_weather_staging_table', conn, if_exists='append', index=False)
# queryHourly.to_sql('hourly_historical_weather_staging_table', conn, if_exists='append', index=False)

In [5]:
# create a command that joins the staging table (request table) with the historical data and then pull it out
EPSILON = 1E-12
# dailySearchCommand = '''
# SELECT * FROM (
#         SELECT * FROM daily_historical_weather_data
#         WHERE time BETWEEN ? AND ?
#     ) AS DAILY
# LEFT JOIN daily_historical_weather_staging_table
# ON daily_historical_weather_staging_table.time = DAILY.time
# AND daily_historical_weather_staging_table.parameter = DAILY.parameter
# AND daily_historical_weather_staging_table.latitude = DAILY.latitude
# AND daily_historical_weather_staging_table.longitude = DAILY.longitude
# '''

dailySearchCommand = f'''
SELECT
    COALESCE(DAILY.time, daily_historical_weather_staging_table.time) AS time,
    COALESCE(DAILY.parameter, daily_historical_weather_staging_table.parameter) AS parameter,
    COALESCE(DAILY.latitude, daily_historical_weather_staging_table.latitude) AS latitude,
    COALESCE(DAILY.longitude, daily_historical_weather_staging_table.longitude) AS longitude,
    DAILY.value
FROM (
    SELECT time, parameter, latitude, longitude, value
    FROM daily_historical_weather_data
    WHERE time BETWEEN ? AND ?
) AS DAILY
RIGHT JOIN daily_historical_weather_staging_table
ON daily_historical_weather_staging_table.time = DAILY.time
AND daily_historical_weather_staging_table.parameter = DAILY.parameter
AND ABS(daily_historical_weather_staging_table.latitude - DAILY.latitude) < {EPSILON}
AND ABS(daily_historical_weather_staging_table.longitude - DAILY.longitude) < {EPSILON}
'''


hourlySearchCommand = f'''
SELECT 
    COALESCE(HOURLY.time, hourly_historical_weather_staging_table.time) AS time,
    COALESCE(HOURLY.parameter, hourly_historical_weather_staging_table.parameter) AS parameter,
    COALESCE(HOURLY.latitude, hourly_historical_weather_staging_table.latitude) AS latitude,
    COALESCE(HOURLY.longitude, hourly_historical_weather_staging_table.longitude) AS longitude,
    HOURLY.value
FROM (
    SELECT time, parameter, latitude, longitude, value
    FROM hourly_historical_weather_data
    WHERE time BETWEEN ? AND ?
) AS HOURLY
RIGHT JOIN hourly_historical_weather_staging_table
ON hourly_historical_weather_staging_table.time = HOURLY.time
AND hourly_historical_weather_staging_table.parameter = HOURLY.parameter
AND ABS(hourly_historical_weather_staging_table.latitude - HOURLY.latitude) < {EPSILON}
AND ABS(hourly_historical_weather_staging_table.longitude - HOURLY.longitude) < {EPSILON}
'''

# create a command that joins the staging table (request table) with the historical data and then pull it out
dailySearchCommand = f'''
SELECT
    COALESCE(DAILY.time, daily_historical_weather_staging_table.time) AS time,
    COALESCE(DAILY.parameter, daily_historical_weather_staging_table.parameter) AS parameter,
    COALESCE(DAILY.latitude, daily_historical_weather_staging_table.latitude) AS latitude,
    COALESCE(DAILY.longitude, daily_historical_weather_staging_table.longitude) AS longitude,
    DAILY.value
FROM (
    SELECT time, parameter, latitude, longitude, value
    FROM daily_historical_weather_data
    WHERE time BETWEEN ? AND ?
    AND {'1=0' if parsedParams.get('daily') is None else 'parameter IN (' + ','.join("'"+str(x)+"'" for x in parsedParams['daily']) + ')'}
) AS DAILY
RIGHT JOIN daily_historical_weather_staging_table
ON daily_historical_weather_staging_table.time = DAILY.time
AND daily_historical_weather_staging_table.parameter = DAILY.parameter
AND ABS(daily_historical_weather_staging_table.latitude - DAILY.latitude) < {EPSILON}
AND ABS(daily_historical_weather_staging_table.longitude - DAILY.longitude) < {EPSILON}
'''


hourlySearchCommand = f'''
SELECT 
    COALESCE(HOURLY.time, hourly_historical_weather_staging_table.time) AS time,
    COALESCE(HOURLY.parameter, hourly_historical_weather_staging_table.parameter) AS parameter,
    COALESCE(HOURLY.latitude, hourly_historical_weather_staging_table.latitude) AS latitude,
    COALESCE(HOURLY.longitude, hourly_historical_weather_staging_table.longitude) AS longitude,
    HOURLY.value
FROM (
    SELECT time, parameter, latitude, longitude, value
    FROM hourly_historical_weather_data
    WHERE time BETWEEN ? AND ?
    AND {'1=0' if parsedParams.get('hourly') is None else 'parameter IN (' + ','.join("'"+str(x)+"'" for x in parsedParams['hourly']) + ')'}
) AS HOURLY
RIGHT JOIN hourly_historical_weather_staging_table
ON hourly_historical_weather_staging_table.time = HOURLY.time
AND hourly_historical_weather_staging_table.parameter = HOURLY.parameter
AND hourly_historical_weather_staging_table.latitude = HOURLY.latitude
AND hourly_historical_weather_staging_table.longitude = HOURLY.longitude
'''

# responseDaily = pd.read_sql_query(dailySearchCommand, conn, params=[parsedParams['start_date'], parsedParams['end_date']])
# responseHourly = pd.read_sql_query(hourlySearchCommand, conn, params=[parsedParams['start_date'], parsedParams['end_date']])

In [43]:

responseDaily = pd.read_sql_query(dailySearchCommand, conn, params=[parsedParams['start_date'], parsedParams['end_date']])
responseHourly = pd.read_sql_query(hourlySearchCommand, conn, params=[parsedParams['start_date'], parsedParams['end_date']])

In [ ]:
conn.execute('REINDEX hourly_historical_weather_data;')
conn.execute('REINDEX daily_historical_weather_data;')
conn.execute('REINDEX hourly_historical_weather_staging_table;')
conn.execute('REINDEX daily_historical_weather_staging_table;')
conn.commit()

In [ ]:
pd.read_sql_query(f'''
                  SELECT * FROM hourly_historical_weather_data
                  WHERE time BETWEEN ? AND ?
                  AND {'1=0' if parsedParams.get('hourly') is None else 'parameter IN (' + ','.join("'"+str(x)+"'" for x in parsedParams['hourly']) + ')'}
                  AND latitude = ?
                  AND longitude = ?
                  ''', conn, params=[parsedParams['start_date'], parsedParams['end_date'], parsedParams['latitude'][0], parsedParams['longitude'][0]])

,ID,time,latitude,longitude,utc_offset_seconds,timezone,timezone_abbreviation,elevation,parameter,value
0,223945,2024-10-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,precipitation,0.9
1,442369,2024-10-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,relative_humidity_2m,93.0
2,660793,2024-10-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,temperature_2m,10.1
3,879217,2024-10-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_direction_100m,322.0
4,1097641,2024-10-01 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_direction_10m,314.0
...,...,...,...,...,...,...,...,...,...,...
15290,3985,2024-12-31 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,temperature_2m,9.1
15291,4729,2024-12-31 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_direction_100m,220.0
15292,5473,2024-12-31 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_direction_10m,219.0
15293,6217,2024-12-31 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_100m,43.6
15294,6961,2024-12-31 00:00:00,53.98352,-6.39139,0,GMT,GMT,15.0,wind_speed_10m,26.5

In [6]:
import sqlite3

conn = f._conn
cursor = conn.cursor()

# Check if indexes are being used
cursor.execute("EXPLAIN QUERY PLAN " + hourlySearchCommand,[parsedParams['start_date'], parsedParams['end_date']])
print(cursor.fetchall())

# Force SQLite to update its query planner statistics
cursor.execute("ANALYZE;")
conn.commit()

# Check if SQLite is set to auto-vacuum
cursor.execute("PRAGMA auto_vacuum;")
print("Auto Vacuum Mode:", cursor.fetchone()[0])

# If auto_vacuum is off, run VACUUM to optimize storage
cursor.execute("VACUUM;")
conn.commit()

# Check which indexes exist on the tables
cursor.execute("PRAGMA index_list('hourly_historical_weather_data');")
print("Indexes on hourly_historical_weather_data:", cursor.fetchall())

cursor.execute("PRAGMA index_list('hourly_historical_weather_staging_table');")
print("Indexes on hourly_historical_weather_staging_table:", cursor.fetchall())

cursor.execute("PRAGMA index_list('daily_historical_weather_data');")
print("Indexes on daily_historical_weather_data:", cursor.fetchall())

cursor.execute("PRAGMA index_list('daily_historical_weather_staging_table');")
print("Indexes on daily_historical_weather_staging_table:", cursor.fetchall())

[(8, 0, 0, 'SEARCH hourly_historical_weather_data USING INDEX idx_hourly_time_param_lat_lon (time>? AND time<?)'), (48, 0, 0, 'SEARCH hourly_historical_weather_staging_table USING INDEX idx_hourly_staging_time_param_lat_lon (time=? AND parameter=? AND latitude=? AND longitude=?)'), (92, 0, 0, 'RIGHT-JOIN hourly_historical_weather_staging_table'), (96, 92, 0, 'SCAN hourly_historical_weather_staging_table')]
Auto Vacuum Mode: 0
Indexes on hourly_historical_weather_data: [(0, 'idx_hourly_time_param_lat_lon', 0, 'c', 0)]
Indexes on hourly_historical_weather_staging_table: [(0, 'idx_hourly_staging_time_param_lat_lon', 0, 'c', 0)]
Indexes on daily_historical_weather_data: [(0, 'idx_daily_time_param_lat_lon', 0, 'c', 0)]
Indexes on daily_historical_weather_staging_table: [(0, 'idx_daily_staging_time_param_lat_lon', 0, 'c', 0)]

In [8]:
#staging tables
conn.execute('''DROP TABLE IF EXISTS daily_historical_weather_staging_table;''')
conn.execute('''DROP TABLE IF EXISTS hourly_historical_weather_staging_table;''')
conn.commit()

In [ ]:
# foundHourly.loc[lambda s:s.isna().any(axis=1)]
foundHourly = responseHourly.copy().loc[lambda s:s.value.notna()]
foundDaily = responseDaily.copy().loc[lambda s:s.value.notna()]
notFoundHourly = responseHourly.copy().loc[lambda s:s.value.isna()]
notFoundDaily = responseDaily.copy().loc[lambda s:s.value.isna()]

# now what? make a serparate requests for the missing data. No, too computationally expensive to split up all the data.
# Furthermore, I will get punished by the api for splitting the requests up too finely.
# this means I'd have to spend ages figuring out how to optimally split the requests up to minimize api calling.
# I will just look at at it like this: 
    # I am expecting to make historical ts requests with long ranges, freqently.
    # I am assuming that 10% of the data is missing. And what is present is continuous. So 'ill just request from min notFoundDaily.time.min() onwards.
    # after submitting to database I will tell db to drop duplicates.

In [35]:
#drop existing indexes first.
conn.execute('DROP INDEX IF EXISTS idx_hourly_time_param_lat_lon;')
conn.execute('DROP INDEX IF EXISTS idx_daily_time_param_lat_lon;')
conn.execute('DROP INDEX IF EXISTS idx_hourly_staging_time_param_lat_lon;')
conn.execute('DROP INDEX IF EXISTS idx_daily_staging_time_param_lat_lon;')

# create indexes
conn.execute('''
CREATE INDEX IF NOT EXISTS idx_hourly_time_param_lat_lon 
ON hourly_historical_weather_data (time, parameter, latitude, longitude);
''')

conn.execute('''
CREATE INDEX IF NOT EXISTS idx_daily_time_param_lat_lon
ON daily_historical_weather_data (time, parameter, latitude, longitude);
''')

conn.execute('''
CREATE INDEX IF NOT EXISTS idx_hourly_staging_time_param_lat_lon
ON hourly_historical_weather_staging_table (time, parameter, latitude, longitude);
''')

conn.execute('''
CREATE INDEX IF NOT EXISTS idx_daily_staging_time_param_lat_lon
ON daily_historical_weather_staging_table (time, parameter, latitude, longitude);
''')
conn.commit()

In [23]:
notFoundHourly.groupby('time').agg(parameter = ('parameter', lambda s: ','.join(set(s))))

                                              parameter
time
2020-01-01 00:00:00  albedo,snow_depth_water_equivalent
2020-01-01 01:00:00  albedo,snow_depth_water_equivalent
2020-01-01 02:00:00  albedo,snow_depth_water_equivalent
2020-01-01 03:00:00  albedo,snow_depth_water_equivalent
2020-01-01 04:00:00  albedo,snow_depth_water_equivalent
2020-01-01 05:00:00  albedo,snow_depth_water_equivalent
2020-01-01 06:00:00  albedo,snow_depth_water_equivalent
2020-01-01 07:00:00  albedo,snow_depth_water_equivalent
2020-01-01 08:00:00  albedo,snow_depth_water_equivalent
2020-01-01 09:00:00  albedo,snow_depth_water_equivalent
2020-01-01 10:00:00  albedo,snow_depth_water_equivalent
2020-01-01 11:00:00  albedo,snow_depth_water_equivalent
2020-01-01 12:00:00  albedo,snow_depth_water_equivalent
2020-01-01 13:00:00  albedo,snow_depth_water_equivalent
2020-01-01 14:00:00  albedo,snow_depth_water_equivalent
2020-01-01 15:00:00  albedo,snow_depth_water_equivalent
2020-01-01 16:00:00  albedo,snow_depth_water_equivalent
2020-01-01 17:00:00  albedo,snow_depth_water_equivalent
2020-01-01 18:00:00  albedo,snow_depth_water_equivalent
2020-01-01 19:00:00  albedo,snow_depth_water_equivalent
2020-01-01 20:00:00  albedo,snow_depth_water_equivalent
2020-01-01 21:00:00  albedo,snow_depth_water_equivalent
2020-01-01 22:00:00  albedo,snow_depth_water_equivalent
2020-01-01 23:00:00  albedo,snow_depth_water_equivalent
2020-01-02 00:00:00  albedo,snow_depth_water_equivalent

In [20]:
pd.read_sql_query('SELECT * FROM daily_historical_weather_data', conn,index_col='ID')

,time,latitude,longitude,utc_offset_seconds,timezone,timezone_abbreviation,elevation,parameter,value
ID,,,,,,,,,
1,2020-01-01 00:00:00,53.954304,-6.441009,0,GMT,GMT,15.0,apparent_temperature_max,3.9
2,2020-01-02 00:00:00,53.954304,-6.441009,0,GMT,GMT,15.0,apparent_temperature_max,7.6
3,2020-01-01 00:00:00,53.954304,-6.441009,0,GMT,GMT,15.0,apparent_temperature_mean,2.5
4,2020-01-02 00:00:00,53.954304,-6.441009,0,GMT,GMT,15.0,apparent_temperature_mean,5.9
5,2020-01-01 00:00:00,53.954304,-6.441009,0,GMT,GMT,15.0,apparent_temperature_min,-0.1
...,...,...,...,...,...,...,...,...,...
236,2020-01-02 00:00:00,53.954304,-6.391390,0,GMT,GMT,15.0,wind_direction_10m_dominant,208.0
237,2020-01-01 00:00:00,53.954304,-6.391390,0,GMT,GMT,15.0,wind_gusts_10m_max,25.2
238,2020-01-02 00:00:00,53.954304,-6.391390,0,GMT,GMT,15.0,wind_gusts_10m_max,51.1
239,2020-01-01 00:00:00,53.954304,-6.391390,0,GMT,GMT,15.0,wind_speed_10m_max,13.7
240,2020-01-02 00:00:00,53.954304,-6.391390,0,GMT,GMT,15.0,wind_speed_10m_max,26.1

In [21]:
pd.read_sql_query('SELECT * FROM hourly_historical_weather_data', conn)

,time,latitude,longitude,utc_offset_seconds,timezone,timezone_abbreviation,elevation,parameter,value
0,2000-01-01 00:00:00,53.983520,-6.39139,0,GMT,GMT,15.0,temperature_2m,4.8
1,2000-01-01 01:00:00,53.983520,-6.39139,0,GMT,GMT,15.0,temperature_2m,3.9
2,2000-01-01 02:00:00,53.983520,-6.39139,0,GMT,GMT,15.0,temperature_2m,3.4
3,2000-01-01 03:00:00,53.983520,-6.39139,0,GMT,GMT,15.0,temperature_2m,2.8
4,2000-01-01 04:00:00,53.983520,-6.39139,0,GMT,GMT,15.0,temperature_2m,2.2
...,...,...,...,...,...,...,...,...,...
1551050,2020-01-02 19:00:00,53.954304,-6.39139,0,GMT,GMT,15.0,wind_gusts_10m,41.8
1551051,2020-01-02 20:00:00,53.954304,-6.39139,0,GMT,GMT,15.0,wind_gusts_10m,40.0
1551052,2020-01-02 21:00:00,53.954304,-6.39139,0,GMT,GMT,15.0,wind_gusts_10m,40.0
1551053,2020-01-02 22:00:00,53.954304,-6.39139,0,GMT,GMT,15.0,wind_gusts_10m,38.2
1551054,2020-01-02 23:00:00,53.954304,-6.39139,0,GMT,GMT,15.0,wind_gusts_10m,50.8

In [9]:
notFoundDaily

,time,parameter,latitude,longitude,value
0,2020-01-01 00:00:00,weather_code,53.98352,-6.39139,None
1,2020-01-01 00:00:00,temperature_2m_max,53.98352,-6.39139,None
2,2020-01-01 00:00:00,temperature_2m_min,53.98352,-6.39139,None
3,2020-01-01 00:00:00,temperature_2m_mean,53.98352,-6.39139,None
4,2020-01-01 00:00:00,apparent_temperature_max,53.98352,-6.39139,None
5,2020-01-01 00:00:00,apparent_temperature_min,53.98352,-6.39139,None
6,2020-01-01 00:00:00,apparent_temperature_mean,53.98352,-6.39139,None
7,2020-01-01 00:00:00,sunrise,53.98352,-6.39139,None
8,2020-01-01 00:00:00,sunset,53.98352,-6.39139,None
9,2020-01-01 00:00:00,daylight_duration,53.98352,-6.39139,None
10,2020-01-01 00:00:00,sunshine_duration,53.98352,-6.39139,None
11,2020-01-01 00:00:00,precipitation_sum,53.98352,-6.39139,None
12,2020-01-01 00:00:00,rain_sum,53.98352,-6.39139,None
13,2020-01-01 00:00:00,snowfall_sum,53.98352,-6.39139,None
14,2020-01-01 00:00:00,precipitation_hours,53.98352,-6.39139,None
15,2020-01-01 00:00:00,wind_speed_10m_max,53.98352,-6.39139,None
16,2020-01-01 00:00:00,wind_gusts_10m_max,53.98352,-6.39139,None
17,2020-01-01 00:00:00,wind_direction_10m_dominant,53.98352,-6.39139,None
18,2020-01-01 00:00:00,shortwave_radiation_sum,53.98352,-6.39139,None
19,2020-01-01 00:00:00,et0_fao_evapotranspiration,53.98352,-6.39139,None
20,2020-01-02 00:00:00,weather_code,53.98352,-6.39139,None
21,2020-01-02 00:00:00,temperature_2m_max,53.98352,-6.39139,None
22,2020-01-02 00:00:00,temperature_2m_min,53.98352,-6.39139,None
23,2020-01-02 00:00:00,temperature_2m_mean,53.98352,-6.39139,None
24,2020-01-02 00:00:00,apparent_temperature_max,53.98352,-6.39139,None
25,2020-01-02 00:00:00,apparent_temperature_min,53.98352,-6.39139,None
26,2020-01-02 00:00:00,apparent_temperature_mean,53.98352,-6.39139,None
27,2020-01-02 00:00:00,sunrise,53.98352,-6.39139,None
28,2020-01-02 00:00:00,sunset,53.98352,-6.39139,None
29,2020-01-02 00:00:00,daylight_duration,53.98352,-6.39139,None
30,2020-01-02 00:00:00,sunshine_duration,53.98352,-6.39139,None
31,2020-01-02 00:00:00,precipitation_sum,53.98352,-6.39139,None
32,2020-01-02 00:00:00,rain_sum,53.98352,-6.39139,None
33,2020-01-02 00:00:00,snowfall_sum,53.98352,-6.39139,None
34,2020-01-02 00:00:00,precipitation_hours,53.98352,-6.39139,None
35,2020-01-02 00:00:00,wind_speed_10m_max,53.98352,-6.39139,None
36,2020-01-02 00:00:00,wind_gusts_10m_max,53.98352,-6.39139,None
37,2020-01-02 00:00:00,wind_direction_10m_dominant,53.98352,-6.39139,None
38,2020-01-02 00:00:00,shortwave_radiation_sum,53.98352,-6.39139,None
39,2020-01-02 00:00:00,et0_fao_evapotranspiration,53.98352,-6.39139,None

In [180]:
# notFoundHourly = notFoundHourly.assign(geo = lambda s: s.latitude.astype('str') + ', ' + s.longitude.astype('str'))
# notFoundHourly.sort_values(by = 'geo parameter time'.split(), inplace=True, ignore_index=True)
# notFoundHourly['timeObj'] = pd.to_datetime(notFoundHourly.time)


# for key,grp in notFoundHourly.groupby('geo parameter'.split()):
#     break
# # (grp.timeObj.shift(-1)-grp.timeObj).fillna(pd.Timedelta(hours=1))
# grp['dt'] = (grp.timeObj.shift(-1)-grp.timeObj).fillna(pd.Timedelta(hours=1))
# grp['dt'] = grp.dt.dt.total_seconds()/3600
# grp

In [207]:
df = notFoundHourly.copy()
df = df.assign(geo = lambda s: s.latitude.astype('str') + ',' + s.longitude.astype('str'))
df.sort_values(by = 'geo parameter time'.split(), inplace=True, ignore_index=True)
df['timeObj'] = pd.to_datetime(df.time)
df = df.groupby('geo timeObj'.split()).agg(parameter = ('parameter',','.join)).reset_index()
df = df.groupby('geo parameter'.split()).agg(start_date = ('timeObj','min'), end_date = ('timeObj','max')).reset_index()
df = df.groupby('parameter start_date end_date'.split()).agg(geo = ('geo',' '.join)).reset_index()

row = df.iloc[0]
for geo in row['geo'].split(' '):
    latitude, longitude = geo.split(',')
    hourly = [HistoricalHourly._value2member_map_[value] for value in row['parameter'].split(',')]
    sd = row['start_date'].to_pydatetime()
    ed = row['end_date'].to_pydatetime()

In [43]:
df = foundHourly.copy()
df = df.assign(geo = lambda s: s.latitude.astype('str') + ',' + s.longitude.astype('str'))
gdf = df.copy()
gdf = gdf.assign(geo = lambda s: s.latitude.astype('str') + ',' + s.longitude.astype('str'))
res = (
    gdf.groupby('geo'.split())
        .agg(
                latitude = ('latitude','first'), 
                longitude = ('longitude','first'),
            )
        .assign(
                generationtime_ms = -10.0,
                utc_offset_seconds= -10,
                timezone= 'GMT',
                timezone_abbreviation= 'GMT',
                elevation= -9999,
                daily_units= lambda df:df.shape[0]*[{'time': 'iso8601','temperature_2m_mean': 'Â°C','wind_speed_10m_max': 'km/h'}],            
        )
        .reset_index(drop=True)
        .to_dict(orient='records')
)
df.time = pd.to_datetime(df.time).dt.strftime('%Y-%m-%dT%H:%M:%S')
for dict_,(_,grp) in zip(res,df.groupby('geo')):
    dict_['daily'] = grp.pivot_table(index = 'time', columns = 'parameter', values = 'value', aggfunc='first').reset_index().to_dict(orient='list')

In [3]:
df

NameError: name 'df' is not defined